<app-navbar></app-navbar>

<div class="container">

    <div class="row mx-auto">

        <div class="col-lg-8 m-auto mt-4">

            <!-- <ul class="bg-light">
                <li>Username : {{ username }}</li>
                <li>Fullname : {{ fname }} {{ lname }}</li>
                <li>Email : {{ email }}</li>
                <li>Phone : {{ phone }}</li>
                <li>Gender : {{ gender }}</li>
                <li>Password : {{ password }}</li>
            </ul> -->

            <!-- <table class="text-muted mt-4 bg-light" style="font-size: 20px; border-radius: 2%;">

              <tr><img style="height: 60px;" class="img-thumbnail" src="{{ imgUrl }}" alt=""></tr>

              <tr class="mt-4"><td><fa-icon [icon]="faUserTie"></fa-icon> Username</td> : <td class=>{{ username }}</td></tr>
              <tr class="mt-4"><td><fa-icon [icon]="faUser"></fa-icon> Fullname</td> : <td>{{ fname }} {{ lname }}</td></tr>
              <tr class="mt-4"><td><fa-icon [icon]="faEnvelope"></fa-icon> Email</td> : <td>{{ email }}</td></tr>
              <tr class="mt-4"><td><fa-icon [icon]="faPhone"></fa-icon> Phone</td> : <td>{{ phone }}</td></tr>
              <tr class="mt-4"><td><fa-icon [icon]="faUser"></fa-icon> Gender</td> : <td>{{ gender }}</td></tr>
              <tr class="mt-4"><td><fa-icon [icon]="faLock"></fa-icon> Password</td> : <td>{{ password }}</td></tr>
            </table> -->

            <!-- <h6>{{ imgUrl }}</h6> -->

            <img id="profileImage" style="width: 100px; height: 100px;" class="rounded-circle img-fluid shadow-lg" src="{{ imgUrl }}" alt="Add Image">

            <div class="col-lg-8 mt-4 shadow-lg bg-white rounded">
              <div class="card mb-4">
                <div class="card-body">
                  <!-- <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0"><fa-icon [icon]="faUserTie"></fa-icon> User Name</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{ username }}</p>
                    </div>
                  </div>
                  <hr> -->
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0"><fa-icon [icon]="faUserTie"></fa-icon> Full Name</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{ fname }} {{ lname }}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0"><fa-icon [icon]="faEnvelope"></fa-icon> Email</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{ email }}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0"><fa-icon [icon]="faPhone"></fa-icon> Phone</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{ phone }}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0"><fa-icon [icon]="faUser"></fa-icon> Gender</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">{{ gender }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="col-lg-4 m-auto">

          <!-- <button type="submit" class="btn btn-primary">Edit Profile</button> -->

          <div class="row">

            <input type="file" (change)="onChange($event)">

          </div>

          <div class="row">

            <div class="col-lg-12 mt-2">

              <button type="button" class="btn btn-primary" (click) = "onUpload()">Add Photo</button>

            </div>

          </div>

        </div>

    </div>

    


</div>